.img {
  width: 400px;
  box-sizing: border-box;
  border: 12px solid red;
  padding: 10px 5px 10px 5px;
  margin: 30px;
  /* height: 400px; */
}

.span {
  width: 300px;
  border: 12px solid red;
  padding: 10px 5px 10px 5px;
}

.div {
  border: 1px solid red;
  width: 300px;
  margin: 50px auto;
}

.aligin-center {
  margin: -50px auto;
  text-align: center;
}